* {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

a, u {
  text-decoration: none;
  color: black; }

.container {
  width: 85%;
  margin: 0 auto; }

header div div {
  height: 66px;
  line-height: 66px; }
  header div div .login {
    float: right; }
    header div div .login .box {
      display: inline-block;
      position: absolute;
      right: 350px; }
      header div div .login .box a {
        margin-right: 20px; }
    header div div .login .sc {
      font-size: 50px; }

.search {
  height: 120px;
  position: relative; }
  .search .logo {
    margin-top: 20px;
    float: left; }
  .search p {
    margin-top: 50px;
    float: left; }
  .search .ma {
    position: absolute;
    height: 120px;
    right: 100px;
    top: 0; }
    .search .ma img {
      border: 0; }
  .search form {
    position: absolute;
    top: 50px;
    left: 640px;
    text-align: center; }

nav {
  height: 50px;
  background: #ca0e25;
  line-height: 50px; }
  nav div div {
    width: 100px;
    float: left;
    margin-right: 118px; }
  nav ul {
    display: inline-block; }
    nav ul li {
      float: left;
      width: 100px;
      text-align: center;
      margin-right: 50px; }
    nav ul li:hover {
      background: #ab0116; }

main {
  padding-top: 20px;
  background-color: #ccc; }
  main .mid {
    background: green;
    height: 500px; }
    main .mid .right {
      float: right;
      width: 700px;
      height: 100%;
      border: 1px solid black;
      background: gray;
      position: relative; }
      main .mid .right b {
        width: 100px;
        text-align: center;
        position: absolute;
        bottom: 40px;
        left: 200px;
        border: 1px solid yellow; }
      main .mid .right .r {
        margin-left: 200px; }
